<footer class="footer-wrapper">
  <div class="footer-top">
    <div class="container">
      <!-- <div class="chat-sec">
        <a href="/">
          <img src="assets/images/chat.png" alt="chat" />
        </a>
      </div> -->
      <div class="footer-sec column-1">
        <div class="footer-logo">
          <a href="/">
            <img src="assets/images/logo.png" alt="logo" />
          </a>
        </div>
        <div class="footer-content">
          <p>At Spinx Digital. we are focused on enhancing the value of your business through our innovative and
            economic
            mobile app and website design solutions. We offer solutions that give you a competitive edge in the online
            market and a stronger brand image. </p>
        </div>
      </div>
      <div class="footer-sec column-2">
        <h4>Quick Nav</h4>
        <ul>
          <li>
            <a href="index.html">Home</a>
          </li>
          <li>
            <a href="/">About us</a>
          </li>
          <li>
            <a href="/">Services</a>
          </li>
          <li>
            <a href="/">Portfolio</a>
          </li>
          <li>
            <a href="/">Blog</a>
          </li>
          <li>
            <a href="/">Contact Us</a>
          </li>
        </ul>
      </div>
      <div class="footer-sec column-3">
        <h4>Get in Touch</h4>
        <ul>
          <li>
            <figure>
              <i class="fa fa-map-marker" aria-hidden="true"></i>
            </figure>
            <div class="content">
              <address>Perth, Australia</address>
            </div>
          </li>
          <li>
            <figure>
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </figure>
            <div class="content">
              <a href="mailto:info@spinxdigital.com.au">info@spinxdigital.com.au</a>
            </div>
          </li>
          <li>
            <figure>
              <i class="fa fa-mobile" aria-hidden="true"></i>
            </figure>
            <div class="content">
              <a href="tel:+13109336106">+1 310 933 6106</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="footer-sec column-4">
        <div class="social-share">
          <h4>Recent Posts</h4>
          <ul>


            <li>
              <figure style="background-image:url('assets/images/grid3.jpg');"></figure>
              <h5>
                <a routerLink="/blog/5-compelling-reasons-for-embracing-ways-to-boost-your-sales">5 Compelling reasons
                  for embracing ways to boost your sales</a>
              </h5>
            </li>
            <li>
              <figure style="background-image:url('assets/images/grid2.jpg');"></figure>
              <h5>
                <a routerLink="/blog/web-design-trends-to-look-out-for-in-2019">6 Web Design Trends To Look Out For in
                  2019</a>
              </h5>
            </li>
            <li>
              <figure
                style="background-image: url('assets/images/UnderstandingWebNativeHybridMobileApplications.jpg');">
              </figure>
              <h5>
                <a routerLink="/blog/understanding-web-native-and-hybrid-mobile-applications">Understanding Web, Native,
                  and Hybrid Mobile Applications</a>
              </h5>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div><!-- footer-top -->
  <div class="footer-bottom">
    <div class="container">
      <span class="copyright">&copy; 2019 Spinx Digital.</span>
    </div><!-- container -->
  </div><!-- footer-bottom -->
</footer><!-- footer-wrapper -->

<!-- <div class="request-quote-area">
  <div class="request-quote-header">
    <div class="logo">
      <img src="assets/images/logo.png">
    </div>
    <div class="close-btn">

    </div>
  </div>
  <div class="request-quote-main">
    <div class="request-quote-container">
      <h2>Get a perfect quote</h2>
      <p>We're eager to work with you. Please share your project goals and contact information.<br>
        We respond to 97% of messages within 1-2 business day. Really!</p>

        <div class="request-quote-free">
            <h5>TELL US ABOUT YOU</h5>
            <form>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                                <input name="name" type="text" class="form-control" placeholder="">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
  </div>
</div> -->
