<header class="header">
  <nav class="navbar navbar-expand-md">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="/collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="">
          <img src="assets/images/logo.png" alt="logo" />
          <img src="assets/images/logo-icon.png" alt="logo icon" />
        </a>
      </div>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="nav-top-sec">
          <li>
            <figure>
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </figure>
            <a href="mailto:info@spinxdigital.com.au">info@spinxdigital.com.au</a>
          </li>
          <li>
            <div class="dropdown">
              <button class="dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-skype" aria-hidden="true"></i>
                <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li class="dropdown-header">
                  Spinx Digital Skype Contacts
                </li>
                <li class="SkypeContacts">
                  <div>
                    <cite>For Web Development assistance</cite>
                    <a href="skype:imark.infotech?chat">imark.infotech</a>
                  </div>
                  <div>
                    <cite>For SEO/PPC assistance</cite>
                    <a href="skype:imark.seo?chat">imark.seo</a>
                  </div>

                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="dropdown">
              <button class="dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-phone" aria-hidden="true"></i>
                <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li class="dropdown-header">
                  Spinx Digital Contacts
                </li>
                <li class="SkypeContacts Inquiry">
                  <div>
                    <cite>For Web/Mob Development Inquiry</cite>
                    <a href="tel:+13109336106">+1 310 933 6106</a>
                  </div>
                  <div>
                    <cite>For SEO/PPC Inquiry</cite>
                    <a href="tel:+13107348872">+1 310 734 8872</a>
                  </div>
                </li>
              </ul>
            </div>
          </li>
        </ul>
        <div class="navbar-bottom">
          <ul class="nav navbar-nav ml-auto" id="menu-primary-menu">
            <li class="nav-item ">
              <a class="nav-link" routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" routerLink="/about" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">About
                us</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" data-toggle="dropdown" routerLink="/services" routerLinkActive="active-link"
                [routerLinkActiveOptions]="{exact:true}">Services
                <i class="fa fa-angle-down" aria-hidden="true"></i>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" routerLink="/services/web-development" routerLinkActive="active-link"
                    [routerLinkActiveOptions]="{exact:true}">Web Development</a>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/services/mobile-app-development" routerLinkActive="active-link"
                    [routerLinkActiveOptions]="{exact:true}">Mobile App Development</a>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/services/app-prototyping" routerLinkActive="active-link"
                    [routerLinkActiveOptions]="{exact:true}">App Prototyping</a>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/services/iphone" routerLinkActive="active-link"
                    [routerLinkActiveOptions]="{exact:true}">iPhone</a>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/services/android" routerLinkActive="active-link"
                    [routerLinkActiveOptions]="{exact:true}">Android</a>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/services/user-experience" routerLinkActive="active-link"
                    [routerLinkActiveOptions]="{exact:true}">UI/UX/PHP .NET/PHP</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/portfolio" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/blog" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Blog
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/contact-us" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Contact
                Us</a>
            </li>
          </ul>
          <div class="quote-btn">
            <a routerLink="/contact-us" >Request a quote</a>
          </div>
        </div>
      </div>
    </div>
    <!-- container -->
  </nav>
</header>
