<section class="banner-wrapper" style="background-image: url('assets/images/banner.jpg');">
    <video autoplay loop >
        <source src="assets/images/banner2.mp4" type="video/mp4">
      </video>
    <div class="container">
        <div class="banner-content">
            <!-- <div class="top-title">
                <h4>Passionate and Creative</h4>
            </div> -->
            <div class="title">
                <h2>Your One-Stop Destination To Experience <br>The Digital Extravagance <strong>Simple . Strong . Smart  </strong></h2>
            </div>
            <div class="getintouch">
                <a href="/">Let's Get Started </a>
            </div>
        </div>
        <!-- <figure class="bar-icon">
            <img src="assets/images/bar-icon.png" alt="featured-thumb" />
        </figure> -->
    </div>
    <!-- container -->

</section>
<!-- banner-wrapper -->
<div class="main">
    <section class="about-us-wrap section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 wow fadeInLeft" data-wow-duration="2s">
                    <div class="left_sec" style="background-image: url(assets/images/about-bg.png);">
                       <div class="content-sec">
                            <h3>Hello. We are Spinx Digital<br>Creative & Interactive Company<br>Make creative projects</h3>
                            <figure>
                                <img src="assets/images/about-icon.png" alt="icon" />
                            </figure>
                       </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-duration="2s">
                    <div class="right_sec">
                        <p>Give your digital presence the much needed boost with a consortium of exceptional web and mobile app solutions. Having amassed wealth of knowledge and latest technologies, we are in a strong position to offer terrific digital solutions that are second to none. </p>
                        <p>Share your strategic vision with our consummate experts who are focused to craft razor sharp solutions that perfectly fit in your business needs. We provide web and mobile app services to startups, medium and large corporations that are aiming to create a niche in an over-competitive market.</p>
                        <p>We believe in beating the mediocrity with creative websites and mobile app solutions that put you ahead of your competitors. All that and more within reasonable time and investment. </p>
                    </div>
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </section>
    <!-- about-us-wrap -->
    <section class="our-services-wrap section wow fadeIn" data-wow-duration="1s">
        <div class="container">
            <div class="title-sec">
                <div class="top-title">
                    <small>OUR SERVICES</small>
                </div>
                <div class="title">
                    <h3>Our Strategic Sphere Revolves Around Three Pillars </h3>
                </div>
            </div>
            <!-- title-sec -->
            <div class="row">
                <div class="col-lg-4 col-sm-6 col-12 wow fadeInLeft" data-wow-duration="2s">
                    <div class="service_grid">
                        <figure>
                            <a href="/services/web-development">
                                <img src="assets/images/service1.png" alt="featured-thumb" />
                            </a>
                        </figure>
                        <h5>
                            <a href="/services/web-development">Web Development</a>
                        </h5>
                        <p>Websites are digital representation of your business. We make painstaking efforts from conceptualizing designs to providing seamless website development to encourage user engagement and meet intricate business needs. Do not settle for less if you can have responsive websites that are lapped upon in the first look itself. </p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12 wow fadeInUp" data-wow-duration="2s">
                    <div class="service_grid">
                        <figure>
                            <a href="/services">
                                <img src="assets/images/service2.png" alt="featured-thumb" />
                            </a>
                        </figure>
                        <h5>
                            <a href="/servicesl">Sharp & Slick Strategies </a>
                        </h5>
                        <p>We are steadfast in our approach to pursue thorough groundwork on every web or mobile project undertaken. We are proud of our creative team that germinates and facilitates unique websites and mobile apps that encourage impeccable user experience and fuel sales. Do not want to lose your digital identity in the horde? Call us now! </p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12 wow fadeInRight" data-wow-duration="2s">
                    <div class="service_grid">
                        <figure>
                            <a href="/services">
                                <img src="assets/images/service3.png" alt="featured-thumb" />
                            </a>
                        </figure>
                        <h5>
                            <a href="/services">Mobile Solutions  </a>
                        </h5>
                        <p>Mobile solutions are a need of the hour. Over years, the frenzy around mobile apps has only substantiated the need to design and develop mobile apps that are engaging and throttle up your business to another height. We deliver native and hybrid Android and iPhone apps for startups and enterprises. </p>
                    </div>
                </div>
            </div>
            <!-- row -->
            <div class="getintouch wow fadeInUp" data-wow-duration="2s">
                <a href="/contact-us" class="theme-btn">Let's Discuss</a>
            </div>
            <!-- getintouch -->
        </div>
        <!-- container -->
    </section>
    <!-- our-services-wrap -->
    <section class="wemakeite-wrap section wow fadeIn" data-wow-duration="1s" style="background-image: url(assets/images/wemakeit.jpg)">
        <div class="container">
            <div class="figure-sec">
                <img src="assets/images/computer.png" alt="featured-thumb" class="wow slideInRight" data-wow-duration="2s" />
            </div>
            <div class="content-sec">
                <div class="title-sec">
                    <h3>We Pursue Excellence in Whatever We Do ...</h3>
                    <p>We are a passionate team of seasoned professionals that chips in just the perfect mix of knowledge and skills to create fully-functional and engaging web and mobile app solutions. </p>
                    <p>From conceptualizing to creating solutions, every finest detail is delved upon to accentuate your digital presence and support sustainable business growth. </p>
                </div>
                <!-- title-sec -->
                <div class="our-solution-bar">
                    <ul class="list-inline bottom-icon-section">
                        <li>
                            <div class="border-sec">
                                <div id="progress" data-dimension="150" data-text="97%" data-fontsize="22" data-percent="97" data-fgcolor="/ff6a1e" data-bgcolor="/e7e7e7" data-width="2" data-bordersize="2" data-animationstep="2"></div>
                            </div>
                            <p>Web Development</p>
                        </li>
                        <li>
                            <div class="border-sec">
                                <div id="progress1" data-dimension="150" data-text="85%" data-fontsize="22" data-percent="85" data-fgcolor="/ff6a1e" data-bgcolor="/e7e7e7" data-width="2" data-bordersize="2" data-animationstep="2"></div>
                            </div>
                            <p>Sharp & Slick Strategies </p>
                        </li>
                        <li>
                            <div class="border-sec">
                                <div id="progress2" data-dimension="150" data-text="90%" data-fontsize="22" data-percent="90" data-fgcolor="/ff6a1e" data-bgcolor="/e7e7e7" data-width="2" data-bordersize="2" data-animationstep="2"></div>
                            </div>
                            <p>Mobile Solutions  </p>
                        </li>
                    </ul>
                </div><!-- our-solution-bar -->
            </div>
        </div>
        <!-- container -->
    </section>
    <!-- wemakeit-wrap -->
    <section class="blog-wrap section wow fadeIn" data-wow-duration="1s">
        <div class="container">
            <div class="title-sec">
                <div class="top-title">
                    <small>LATEST ARTICLES</small>
                </div>
                <div class="title">
                    <h3>Blog</h3>
                </div>
                <div class="content">
                    <p >Digital never sleeps and this list is not exhaustive. We’re shaping industry trends and expanding our offering all the time. Our commercial focus is acquisition, engagement and conversion.</p>
                </div>
            </div>
            <!-- title-sec -->
            <div class="row">
                <div class="col-lg-4 col-sm-6 col-12 wow fadeInleft" data-wow-duration="2s">
                    <div class="grid-item">
                        <div class="featured_thumb">
                            <figure style="background-image: url('assets/images/UnderstandingWebNativeHybridMobileApplications.jpg')">
                                <a routerLink="/blog/understanding-web-native-and-hybrid-mobile-applications"></a>
                            </figure>
                            <div class="date-sec">
                                <small>March 14, 2019</small>
                            </div>
                        </div>
                        <h4>
                            <a routerLink="/blog/understanding-web-native-and-hybrid-mobile-applications">Understanding Web, Native, and Hybrid Mobile Applications</a>
                        </h4>
                        <div class="meta-info">
                            <ul>
                                <li>
                                    <a routerLink="/blog/understanding-web-native-and-hybrid-mobile-applications">Read More</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12 wow fadeInUp" data-wow-duration="2s">
                    <div class="grid-item">
                        <div class="featured_thumb">
                            <figure style="background-image: url('assets/images/grid2.jpg')">
                                <a routerLink="/blog/web-design-trends-to-look-out-for-in-2019"></a>
                            </figure>
                            <div class="date-sec">
                                <small>March 14, 2019</small>
                            </div>
                        </div>
                        <h4>
                            <a routerLink="/blog/web-design-trends-to-look-out-for-in-2019">6 Web Design Trends To Look Out For in 2019</a>
                        </h4>
                        <div class="meta-info">
                            <ul>
                                <li>
                                    <a routerLink="/blog/web-design-trends-to-look-out-for-in-2019">Read More</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12 wow fadeInUp" data-wow-duration="2s">
                    <div class="grid-item">
                        <div class="featured_thumb">
                            <figure style="background-image: url('assets/images/grid3.jpg')">
                                <a routerLink="/blog/5-compelling-reasons-for-embracing-ways-to-boost-your-sales"></a>
                            </figure>
                            <div class="date-sec">
                                <small>July 08, 2019</small>
                            </div>
                        </div>
                        <h4>
                            <a routerLink="/blog/5-compelling-reasons-for-embracing-ways-to-boost-your-sales">5 Compelling reasons for embracing ways to boost your sales</a>
                        </h4>
                        <div class="meta-info">
                            <ul>
                                <li>
                                    <a routerLink="/blog/5-compelling-reasons-for-embracing-ways-to-boost-your-sales">Read More</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </section>
    <!-- blog-wrap -->
    <section class="portfolio-wrap section wow fadeIn" data-wow-duration="1s">
        <div class="container">
            <div class="title-sec">
                <div class="top-title">
                    <small>OUR WORKS</small>
                </div>
                <div class="title">
                    <h3>Our Priced Achievements </h3>
                </div>
                <div class="content">
                    <p >Digital never sleeps and this list is not exhaustive. We’re shaping industry trends and expanding our offering all the time. Our commercial focus is acquisition, engagement and conversion.</p>
                </div>
            </div>
            <!-- title-sec -->
            <ul class="portfolio-list wow lightSpeedIn" data-wow-duration="1s">
                <li>
                    <a href="javascript:void(0)" class="filter-button active" data-filter="all">All</a>
                </li>
                <li>
                    <a href="javascript:void(0)" class="filter-button" data-filter="website">Website</a>
                </li>
                <li>
                    <a href="javascript:void(0)" class="filter-button" data-filter="app">App</a>
                </li>
                <li>
                    <a href="javascript:void(0)" class="filter-button" data-filter="productdesign">Product Design</a>
                </li>
                <li>
                    <a href="javascript:void(0)" class="filter-button" data-filter="logo">Logo</a>
                </li>
            </ul>
            <div class="row wow slideInUp" data-wow-duration="2s">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 filter website">
                    <div class="gallery_product" style="background-image: url(assets/images/portfolio1.png);">
                        <div class="content-sec">
                            <small>Website</small>
                            <h4>
                                <a href="portfolio-single.html">Xenia</a>
                            </h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 filter app">
                    <div class="gallery_product" style="background-image: url(assets/images/portfolio2.png);">
                        <div class="content-sec">
                            <small>Logo</small>
                            <h4>
                                <a href="portfolio-single.html">Vista Print</a>
                            </h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 filter website">
                    <div class="gallery_product" style="background-image: url(assets/images/portfolio3.png);">
                        <div class="content-sec">
                            <small>App Design</small>
                            <h4>
                                <a href="portfolio-single.html">Book WeGo</a>
                            </h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 filter productdesign">
                    <div class="gallery_product" style="background-image: url(assets/images/portfolio4.png);">
                        <div class="content-sec">
                            <small>Website</small>
                            <h4>
                                <a href="portfolio-single.html">Super<br>Fly Honey</a>
                            </h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 filter logo">
                    <div class="gallery_product" style="background-image: url(assets/images/portfolio5.png);">
                        <div class="content-sec">
                            <small>App Design</small>
                            <h4>
                                <a href="portfolio-single.html">Nataliamav</a>
                            </h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 filter app">
                    <div class="gallery_product" style="background-image: url(assets/images/portfolio6.png);">
                        <div class="content-sec">
                            <small>Website</small>
                            <h4>
                                <a href="portfolio-single.html">Xenia</a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center wow fadeIn" data-wow-duration="2.5s">
                <a href="/" class="theme-btn ">Are You Ready To Talk to Our Experts? </a>
            </div>
        </div>
        <!-- container -->
    </section>
    <!-- portfolio-wrap -->
</div>
<!-- main -->